

body {
  font-family: 'Arial', sans-serif;
  color: white; 
  text-align: center;
  padding-top: 60px;

  background: linear-gradient(to right, #A1E8FF 10%, #8CB1FF 25%, #BCA1FF 80%);

}


img#site-title-image {
  width: 100px;
  height: auto;
  display: block;
  margin: 10px;
}

h1#site-description-text {
  font-family: 'Dancing Script';
  color: white;
  margin: 20px;

}

nav ul {
  list-style-type: none;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}


nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #e0c5ff;
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  text-align: center;
}

nav ul li a:hover {
  background-color: #ae68ff;
}


home {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;         
  justify-content: flex-start; 
  gap: 10px;             
  padding-left: 350px;    
}

home li {
  display: inline-block;
}

home li a {
  text-decoration: none;
  color: #e0c5ff;
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  text-align: center;
}

home li a:hover {
  background-color: #e0c5ff;
  color: white;
}

p {
  font-family: 'Dancing Script';
  color: black;
  margin: 20px auto;  
  max-width: 700px;   
  line-height: 1.5;   
}
